* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 80px;
    font-family: "Roboto", sans-serif;
}

header {
	position: fixed;
	padding: 10px;
	background-color: silver;
	border-bottom: 1px solid black;
}

.top-nav {
	position: absolute;
	right: 10px;
	top: 10px;
}

h1 {
	display: block;
	font-size: 18px;
}

a {
	text-decoration: none;
}